.general { 
    color: #fff;
    margin:0;
    padding:0;
    background-color:  #ff5102;
    box-sizing: border-box;
    height: 100vh;

}
.general h2{ 
    text-align: center;
}
.form{
    color: #000;
    background-color: #fff;
    height: 520px;
    width: 400px;
    text-align: left;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.h2{
    padding: 10px;
    font-size: 30px;
    font: bold;
    text-align: center;
}
.input{
    width: 380px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.input:focus{
    outline: none;
}
.button{
    width: 390px;
    height: 50px;
    border-radius: 5px;
    background-color: #1f2b5b;
    color: #fff;
    font-size: 30px;
}

.label{
    margin-top: 40px;
    font: bold;
    font-size: 30px;
}