.account{
color: #ff5102;
border: none;
border-radius: 7px;
font-size: 20px;
background-color: white;
height: 50px;
padding: 10px;
margin: 10px;
}

.note{
    font-size: 40px;
    color: #ffff;
    padding: 5px;
}
